<?xml version='1.0' encoding='utf-8'?>
<datasources>
    <datasource type="online" path="galaxyproject/tools-iuc/"></datasource>
    <datasource type="online" path="galaxyproject/tools-devteam/"></datasource>
    <datasource type="online" path="galaxyproject/galaxy/"></datasource>
    <datasource type="online" path="galaxyproteomics/tools-galaxyp/"></datasource>
    <datasource type="online" path="peterjc/galaxy_blast/"></datasource>
    <datasource type="online" path="peterjc/pico_galaxy/"></datasource>
    <datasource type="online" path="peterjc/pico_galaxy/"></datasource>
    <datasource type="online" path="peterjc/galaxy_mira/"></datasource>
    <datasource type="online" path="gregvonkuster/galaxy-csg/"></datasource>
    <datasource type="online" path="TGAC/earlham-galaxytools/"></datasource>
    <datasource type="online" path="phac-nml/galaxy_tools/"></datasource>
</datasources>
