.main-container {
    margin-left: 1%;
}

.table-header-text {
    margin: 1% 0 1% 0;
}

.tool-results {
    margin: 1% 0 1% 0;
}

.no-similar-tool-msg {
    color: red;
}

#tool-cost-iterations {
    margin-top: 2%;
    width: 100%;
}
